<div class="container">
	<div class="main">
		<table width="100%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tbody>
				<tr>
					<td colspan="3"><table width="99%" border="0" cellspacing="0"
							cellpadding="0">
							<tbody>
								<tr>
									<td width="25%" valign="top"><table width="99%" border="0"
											cellspacing="0" cellpadding="7">
											<tbody>
												<tr>
													<td style="font-size: 12px; color: #666;">&nbsp;</td>
													<td style="font-size: 12px; color: #666;">&nbsp;</td>
												</tr>
												<tr>
													<td width="9%" style="font-size: 12px; color: #666;">&nbsp;</td>
													<td width="91%" style="font-size: 12px; color: #666;"><a
														href="about-management.html"
														style="color: #666; font-size: 12px;">MANAGEMENT</a></td>
												</tr>
											</tbody>
										</table></td>
									<td width="75%" valign="top"><div
											style="width: 90%; margin: 0 auto; padding: 0;">
											<h3>About Company</h3>
											<p class="para">Tuni Textile’s is traditionally
												recognized for its excellence in quality, product/design
												range, superior customer service and reliability. The
												company produces over ~7.2 million meters per annum on
												latest European looms. Apart from manufacturing synthetic
												shirting, the firm is also engaged in trading actives and
												job work. The company was incorporated in 1987. With almost
												3 decades of experience under its belt, we are in a position
												to provide exceptional quality, technical know-how and
												various design and product innovations to our customers. Our
												manufacturing facility houses the best technology that
												grey-fabric manufacturing has to offer. Our core strength is
												in new product/design development and a hassle free quality
												promise. We have a systematic quality culture right from all
												in-ward materials, on-loom inspection, grey-fabric checking
												and superior mending facilities.</p>
										</div></td>
								</tr>
							</tbody>
						</table></td>
				</tr>
				<tr>
					<td colspan="3" align="center">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" align="center" bgcolor="#333333">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" align="center">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3" align="center">
						<div class="footer">
							<table width="1000" border="0" align="center" cellpadding="0"
								cellspacing="0">
								<tbody>
									<tr>
										<td width="27%" valign="top"><div class="foot">
												<ul>
													<li><a href="#">HOME</a></li>
													<li><a href="#">ABOUT US</a></li>
													<li><a href="#">INFRASTRUCTURE</a></li>
													<li><a href="#">PRODUCT</a></li>
													<li><a href="#">INVESTOR RELATIONS</a></li>
													<li><a href="#">CONTACT US</a></li>
												</ul>
											</div></td>
										<td width="58%" valign="top">
											<p></p>
											<table width="98%" border="0" cellspacing="0" cellpadding="0">
												<tbody>
													<tr>
														<td width="58%" valign="top"><strong>Registered
																Office</strong><br> Tuni Textile Mills Ltd,<br> 63/71,
															Dadiseth Agiary Lane,<br> 3rd floor, <br>
															Kalbadevi, Mumbai-400002</td>
														<td width="42%" valign="top"><strong>Works</strong><br>
															Tuni Textile Mills<br> B-4/5, MIDC Murbad<br>
															Thane,<br> Maharashtra</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<p></p>
										</td>
										<td width="15%"><ul>
												<li><a href="https://www.facebook.com/tunitextile"
													target="_blank">
														<div class="facebook"></div>
												</a></li>
												<li><a
													href="https://www.linkedin.com/company/tuni-textile-mills-ltd"
													target="_blank">
														<div class="linked"></div>
												</a></li>
											</ul></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3" align="right" style="font-size: 12px; color: #999;">©
						ALL RIGHTS RESERVE&nbsp;2015 | Site Design &amp; Maintain by Net
						Solutions</td>
				</tr>
				<tr>
					<td colspan="3" align="center"
						style="font-size: 12px; color: #999;">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--main close-->
</div>