<div class="container">
	<div class="main">
   	  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    	  <tbody>
    
    	  <tr>
    	    <td colspan="3">
          <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody> 
            <tr> 
              <td width="26%">&nbsp;</td>
              <td width="23%">&nbsp;</td>
              <td width="51%" rowspan="4" align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3773.5472478497068!2d72.83138500000001!3d18.9514241!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce2307796a97%3A0xba951cc50feb0b95!2s1st+Agiary+Ln%2C+Kalbadevi%2C+Mumbai%2C+Maharashtra+400002!5e0!3m2!1sen!2sin!4v1429611713284" width="450" height="250" frameborder="0" style="border:0"></iframe></td>
            </tr>
            <tr> 
              <td valign="top"> 
                <div> 
                  <h3>Head Office</h3>
                  <div style="font-size:12px; color:#666;">63/71 Dadiseth Agyari 
                    Lane,</div>
                  <div style="font-size:12px; color:#666;">Kalbadevi, Mumbai-400002.</div>
                  <br>
                </div>
              </td>
              <td valign="top"> 
                <div> 
                  <h3>Works / Factory</h3>
                  <div style="font-size:12px; color:#666;">B-4/5 MIDC Murbad,</div>
                  <div style="font-size:12px; color:#666;">Thane, Maharashtra</div>
                  <br>
                </div>
              </td>
            </tr>
            <tr> 
              <td colspan="2"> 
                <div style="font-size:12px; color:#666;"><b>For marketing/business 
                  related Inquiries:</b><br>
                  <a href="mailto:archit@tunitextiles.com">archit@tunitextiles.com</a> 
                  <p><b>For General Inquiries:</b><br>
                    <a href="mailto:Info@tunitextiles.com">Info@tunitextiles.com</a></p>
                </div>
              </td>
            </tr>
            <tr> 
              <td colspan="2"> 
                <form id="form" name="form" method="post" action="thanks.php" style="font-size:12px; color:#666; border-top:1px solid #CCC;">
                  <br>
                  <table width="90%" border="0" align="left" cellpadding="0" cellspacing="4">
                    <tbody> 
                    <tr> 
                      <td>Name</td>
                      <td> 
                        <input type="text" name="first_name" id="textfield">
                      </td>
                    </tr>
                    <tr> 
                      <td>Telephone </td>
                      <td> 
                        <input type="text" name="telephone" id="textfield2">
                      </td>
                    </tr>
                    <tr> 
                      <td>Email</td>
                      <td> 
                        <input type="text" name="email" id="textfield3">
                      </td>
                    </tr>
                    <tr> 
                      <td>Nature of Enquiry</td>
                      <td> 
                        <select name="last_name" id="select" style="font-size:12px; color:#666;">
                          <option style="font-size:12px; color:#666;">Sales</option>
                          <option style="font-size:12px; color:#666;">Marketing</option>
                          <option style="font-size:12px; color:#666;">Procurement</option>
                          <option style="font-size:12px; color:#666;">Export</option>
                          <option style="font-size:12px; color:#666;">Import</option>
                          <option style="font-size:12px; color:#666;">Recruitment</option>
                          <option style="font-size:12px; color:#666;">Service</option>
                        </select>
                      </td>
                    </tr>
                    <tr> 
                      <td>Enquiry</td>
                      <td> 
                        <textarea name="comments" id="textarea" cols="45" rows="5"></textarea>
                      </td>
                    </tr>
                    <tr> 
                      <td>&nbsp;</td>
                      <td> 
                        <input type="submit" name="submit" id="submit" value="Submit">
                      </td>
                    </tr>
                    </tbody> 
                  </table>
                </form>
              </td>
            </tr>
            </tbody> 
          </table>
        </td>
  	    </tr>
    	  <tr>
    	    <td colspan="3">&nbsp;</td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="center">&nbsp;</td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="center" bgcolor="#333333">&nbsp;</td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="center">&nbsp;</td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="center">
            <div class="footer">
              <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td width="27%" valign="top"><div class="foot">
                    <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">INFRASTRUCTURE</a></li>
                      <li><a href="#">PRODUCT</a></li>
                      <li><a href="#">INVESTOR RELATIONS</a></li>
                      <li><a href="#">CONTACT US</a></li>
                    </ul>
                  </div></td>
                  <td width="58%" valign="top"><p>
                    </p><table width="98%" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td width="58%" valign="top"><strong>Registered Office</strong><br>
                          Tuni Textile Mills Ltd,<br>
                          63/71, Dadiseth Agiary Lane,<br>
                          3rd floor, <br>
                          Kalbadevi, Mumbai-400002</td>
                        <td width="42%" valign="top"><strong>Works</strong><br>
                          Tuni Textile Mills<br>
                          B-4/5, MIDC Murbad<br>
                          Thane,<br>
                          Maharashtra</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody></table>
                    <p></p></td>
                  <td width="15%"><ul>
                    <li><a href="https://www.facebook.com/tunitextile" target="_blank">
                      <div class="facebook"></div>
                    </a></li>
                    <li><a href="https://www.linkedin.com/company/tuni-textile-mills-ltd" target="_blank">
                      <div class="linked"></div>
                    </a></li>
                  </ul></td>
                </tr>
              </tbody></table>
            </div></td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="right" style="font-size:12px; color:#999;">© ALL RIGHTS RESERVE&nbsp;2015   |   Site Design &amp; Maintain by Net Solutions</td>
  	    </tr>
    	  <tr>
    	    <td colspan="3" align="center" style="font-size:12px; color:#999;">&nbsp;</td>
  	    </tr>
  	  </tbody></table>
	</div><!--main close-->  	
</div>